<!DOCTYPE html>
<html ng-app="CrudApp">
	<head>
		<meta charset="utf-8"/>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title> Projects </title>

		<!-- Bootstrap core CSS -->
	    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

	    <!-- Custom styles for this template -->
		<link href="./assets/css/main.css" rel="stylesheet">
		<link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="./front/css/gmv-cadastro.css" rel="stylesheet">		

	</head	>
	
	<body>
        <div class="container" id="div-btn-voltar">
              <a href="/index"> <button type="button" class="btn btn-outline-dark">Voltar</button> </a>
		</div>
		<div class="container container-center">
			<div class="container">				
				<div class="align-center">
					<h1>Cadastre-se no Projects</h1>
				</div>
				<div class="align-center">
					<center>
						<div class="max-info">
							<h2>Para acessar o Projects, você deve se cadastrar de acordo com sua função (estudante/funcionário) para que possa desfrutar da melhor forma possível do nosso sistema.</h2>
						</div>
					</center>
				</div>
				<div class="align-center">
					<a href="/cadastro-aluno"><button type="button" class="btn btn-success btn-cadastro">Sou um Aluno</button></a> <a href="/cadastro-empresa"><button type="button" class="btn btn-primary btn-cadastro">Sou uma Empresa</button><a/>
				</div>
				<div class="align-center">
					<br>
				</div>
			</div>
		</div>

	    <!-- JavaScript -->
	    <script src="./vendor/jquery/jquery.min.js"></script>
		<script src="./vendor/modernizr/modernizr.custom.js"></script>
	    <script src="./vendor/popper/popper.min.js"></script>
	    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>